.form {
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 28px;
    height: auto;
    padding: 32px;
}

.form__heading {
    padding-bottom: 32px;
    font-weight: 700;
    font-size: 30px;
}

.form__extra-heading {
    padding-bottom: 26px;
    font-weight: 700;
    font-size: 20px;
}

.form__range {
    width: 520px;
}

.form__submit-button {
    border: none;
}

.form__label {
    display: block;
    padding-bottom: 8px;
}


.form__amount {
    padding-bottom: 32px;
}

.form__flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 0;
    gap: 16px;
    padding-bottom: 34px;
}

.form__field {
    display: block;
    width: 270px;
    height: 40px;
    background: #F9F5E3;
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 6px;
    box-sizing: border-box;
    padding-left: 16px;
}

.form__field:focus {   
    outline-color: #ff00f7;
    outline-width: 2px;
}

.form__submit-button {
    display: flex;
    justify-content: flex-end;
}

.required {
    color: #FF5631;
}

.form__invalid-field {
    border-color: #FF5631;
    border-width: 2px;
    background: url('../assets/imgs/invalid.svg') no-repeat scroll 92% 50%;
}

.form__valid-field {
    background: url('../assets/imgs/valid.svg') no-repeat scroll 92% 50%;
}

.form__tip {
    padding-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #FF5631;
}

.form__flex-amount-container {
    display: flex;
    padding-bottom: 32px;
}

.form__range-container {
    border: 1px solid #5B35D5;
    border-radius: 10px;
    width: 40%;
    padding: 0 24px;
    margin-right: 40px;
}

.form__amount-field {
    width: 100%;
}

.form__amount-label {
    padding-top: 24px;
    padding-bottom: 20px;
}

.form__current-amount {
    font-weight: 500;
    font-size: 16px;
    color: black;
}

.form__min-max-value {
    display: flex;
    justify-content: space-between;
    padding-bottom: 41px;
}

.amount__value-block {
    padding-left: 42px;
}

.form__amount-value {
    font-weight: 500;
    font-size: 16px;
    color: #786D6D;
}

.amount__hr {
    border: none;
    border-left: 1px dashed rgba(128, 128, 128, 0.4);
}


.amount__heading {
    font-weight: 700;
    font-size: 20px;
    width: 100%;
    transform: translateY(-62px);
    padding-bottom: 16px;
}

.amount__value {
    transform: translateY(-62px);
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

.amount__value-hr {
    transform: translateY(-62px);
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

@media (max-width: 640px) {
    .form__flex-container {
        justify-content: center;
    }

    .form__submit-button {
        justify-content: center;
    } 

    .form__field {
        width: 200px;
    }
}

@media (max-width: 552px) {
    .amount__value-block {
        display: none;   
    }

    .amount__hr {
        display: none;
    }
    
    .form__amount-field {
        width: 100%;
    }
    
    .form__range-container {
        width: 100%;
        margin: 0 auto;
    }
}
