.card-description {
    display: flex;
    align-items: center;
    gap: 105px;
    height: auto;
    background: linear-gradient(180.8deg, rgba(203, 213, 224, 0.624) 34.33%, rgba(254, 235, 200, 0.56) 64.27%);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 28.8px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 26px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.card-description__heading {
    font-weight: 700;
    font-size: 48px;
    align-items: center;
    color: #FFFFFF;
    padding-bottom: 48px;
}

.card-description__text {
    font-weight: 500;
    font-size: 16px;
    width: 520px;
    color: #2D3748;
    padding-bottom: 32px;
}

.card-description__list {
    display: flex;
    gap: 80px;
    padding-bottom: 36px;
}

.card-description__features {
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    color: #3D3D3D;
    
}

.card-description__annotation {
    font-weight: 500;
    font-size: 16px;
    color: #3D3D3D;
}

.card-description__card-image {
    border-radius: 20px;
    height: auto;
    transform: rotate(10deg);
}

.card-description__card-image img {
    border-radius: 20px;
    width: 340px;
    height: auto;
    transform: rotate(10deg);
}

.card-description__button {
    text-align: center;
    margin-bottom: 20px;
}

.tabs {
    padding-top: 48px;
    padding-bottom: 12px;
}

.tabs__divider {
    background-color: rgba(128, 128, 128, 0.2);
    width: 100%;
    height: 1px;
    border: none;
}

.tabs__navigation {
    display: flex;
    gap: 32px;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 16px;
    color: #7B7454;
}

.tabs__outlet {
    padding-top: 50px;
}

.get-card-tutorial {
    padding-top: 50px;
}

.get-card-tutorial__heading {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #000000;
    padding-bottom: 14px; 
}

.get-card-tutorial__list {
    display: flex;
    gap: 106px;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.get-card-tutorial__item {
    display: flex;
    gap: 36px;
    padding-bottom: 20px;
    align-items: center;
}

.get-card-tutorial__item hr{
    width: 250px;
    height: 2px;
    left: 548px;
    top: 1289px;
    border: none;
    background-color: rgba(128, 128, 128, 0.2);
    transform: rotate(179.82deg);
}

.get-card-tutorial__item-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #D9D9D9;
    border-radius: 50px;
    font-weight: 700;
    font-size: 20px;
    
}

.form-container {
    padding-top: 45px;
}

.conditions > .conditions__list-item:last-child > hr {
    display: none;
}

.conditions__flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conditions__list-item {
    font-weight: 500;
    font-size: 16px;
    padding-top: 24px;
    white-space: pre-wrap;
}

.conditions__content {
    width: 40%;
    display: inline-block;
}

.conditions__annotation {
    width: 60%;
    font-weight: 500;
    padding-left: 20px;
    font-size: 16px;
    color: #434343;
    display: inline-block;
}

.conditions_divider {
    margin-top: 24px;
    border: none;
    height: 1px;
    background-color: rgba(127, 146, 172, 1);
    width: 100%;
}

.accordion__heading {
    padding: 32px 0;
}

.offers {
    display: flex;
}

.succesful-apply {
    border: 1px solid #5B35D5;
    height: 100px;
    text-align: center;
    height: auto;
    
}

.succesful-apply__heading {
    font-weight: 700;
    font-size: 30px;
    padding-top: 24px;
    padding-bottom: 32px;
    color: #1C1C1E;
}

.succesful-apply__text {
    font-weight: 500;
    font-size: 16px;
    color: #4F5665;
    padding-bottom: 34px;
}

@media (max-width: 1300px) {
    .card-description {
        gap: 35px;
    }
    .get-card-tutorial__list {
        gap: 17px;
    }
    .get-card-tutorial__list  li{
        width: 280px;
    }
    .get-card-tutorial__item-number {
        width: 60px;
    }
    .card-description__card-image img{
        width: 250px;
    }
    .offers {
        gap: 20px;
    }
}

@media (max-width: 920px) {
    .card-description__button {
        margin: 0 auto;
    }

    .card-description__card-image {
        display: none;
    }

    .get-card-tutorial__list {
        flex-direction: column;
        align-items: center;
    }

    .get-card-tutorial__item {
        gap: 6px;
    }

    .get-card-tutorial__item-number {
        width: 54px;
    }

    .card-description {
        justify-content: center;
    }

    .offers {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 640px) {
    .card-description__text {
        width: 100%;
    }

    .card-description__heading {
        font-size: 35px;
    }

    .card-description__list {
        gap: 20px;
    }

    .card-description__list li {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .card-description__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .tabs__navigation {
        gap: 5px;
        font-size: 13px;
    }
}