.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__content {
    width: 40%;
    height: 30vh;
    background-color: white;
}