.news__slide {
    width: 320px;
    height: 448px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 28px;
}

.news__slide-heading {
    width: 256px;
    padding-bottom: 32px;
}

.news__slide-img {
    width: 256px;
    height: 120px;
    padding-bottom: 32px;
}

.news__slide-description {
    width: 256px;
    height: 104px;
    padding-bottom: 46px;
}

.news__slide-link:hover {
    transform: scale(1.2)
}