.form__field_update-width  {
    width: 26vw;
}

.form__field_maximum-width {
    width: 39.6vw;
}

@media (max-width: 1300px) {
    .form__field_maximum-width {
        width: 26vw;
    }
}

@media (max-width: 744px) {
    .form__field_update-width  {
        width: 100%;
    }
    
    .form__field_maximum-width {
        width: 100%;
    }

    .form__scoring-input {
        width: 100%;
    }
}
