.modal-view {
    padding: 16px;
}

.modal-view__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
    align-items: center;
}

.modal-view__heading {
    color: #1C1C1E;
    font-weight: 700;
    font-size: 16px;
}

.modal-view__img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.modal-view__text {
    padding-bottom: 48px;
    color: #1A202C;
    font-weight: 500;
    font-size: 16px;
}


.modal-view__deny {
    background: rgba(217, 55, 55, 0.8);
}

.modal-view__home-button {
    display: flex;
    justify-content: flex-end;
}